.collection {
    margin-bottom: 15px;
    color: #333; 
}

.collection:first-child {
    margin-top: 50px;
}

.collection:last-child {
    margin-bottom: 70px;
}

.collection .index {
    position: absolute; 
    margin: -13px 0 0 -170px;
    width: 150px;
    text-align: right;
    font-size: 1.5em;
    color: #ccc; 
    font-weight: bold;
}

.organization {
    padding: 15px 0; 
    background-color: #74cfae; 
}

.organization .description {
    color: #333;
}

.summary {
    background-color: #74cfae;
    padding: 15px 0 5px; 
}

.interval-tab-content{
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.form-group.interval-tabs{
    margin-top: 40px;
    margin-bottom: 0px;
}

.form-group.interval-tabs .nav-tabs{
    border: none;
}

.duration-slider .slider.slider-horizontal{
    width: 150px;
}
