.collection {
    margin-bottom: 15px;
    color: #333; 
}

.collection .container{
    background-color: #f9f9f9;
    border: 5px solid #f0f0f0;
    padding: 5px 25px 20px 25px;
}

.collection:last-child {
    margin-bottom: 50px;
}

.collection .index {
    position: absolute; 
    margin: -13px 0 0 -170px;
    width: 150px;
    text-align: right;
    font-size: 1.5em;
    color: #ccc; 
    font-weight: bold;
}

.organization {
    padding: 15px 0; 
    background-color: #5cb85c; 
    color: #fff; 
    padding-bottom: 30px;
}

.information{
  margin-right: 5px;
}

.organization h1{
    font-weight: 600;
    color: #fff; 
    margin: 10px 5px 5px 0px;
    display: inline-block;
}

.organization p, .organization dd{
    font-weight: 400;
    color: #fff; 
}

.organization a{
    color: #168B24; 
}

.organization a:hover{
    color: #fff; 
}

.edit {
    font-size: 13px;
}

.organization .description{
    font-weight: 400;
}

.summary {
/*    background-color: #74cfae;
    padding: 15px 0 5px; 
    color: #333; */

    background-color: #f2f2f2;
    padding: 15px 0 5px; 
    color: #333; 
    margin-bottom: -40px;
}

.summary h2 {
    color: #333; 
}

.form-group.interval-tabs{
    margin-top: 40px;
    margin-bottom: 0px;
}

.form-group.interval-tabs .nav-tabs{
    border: none;
}

.duration-slider .slider.slider-horizontal{
    width: 150px;
}

.slider.slider-horizontal .tooltip.top{
    top: -20px !important;
}

.utils .btn-border{
    padding-top: 14px;
    padding-bottom: 14px; 
    border: 1px solid #ccc;
}

.close-tab{
    margin-left: 7px;
    color: #ddd;
    cursor: pointer;
}

.close-tab:hover{
    color: #47a447;
    /*color: #f85c37;*/
}

.collections-empty{
    margin: 0 0 40px 0; 
    color: #999; 
    font-size: 2em;
}

.dl-horizontal dt.dt-large{
    width: 350px;
    margin-right: 10px;
}

.description-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.btn.btn-block {
    padding-left: 0px;
    padding-right: 0px;
}

.see-all-filters{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.see-all-filters:hover{
    background-color: #f5f5f5;
}

.other-filters{
    margin-top: -5px;
}

.tooltip-button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.popover{
    font-weight: 300;
    font-size: 13px
}

.editable-buttons .btn{
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.editable-buttons .btn-default{
    border-color: #ccc;
}

.editable-container .popover-content {
    padding: 10px 25px;
}

.table-legend.dl-horizontal dt{
    width: 60px;
}

.table-legend.dl-horizontal dd{
    margin-left: 80px;
}

.admin-container{
    margin: 0 40px;
}

.table-font-small{
    font-size: 13px;
}

.dataTables_wrapper .DTTT.btn-group{
    float: right;
}

.dataTables_wrapper .dataTables_filter{
    padding-right: 25px;
}

.dataTables_wrapper .DTTT.btn-group .btn{
    padding: 6px 12px;
    border: 1px solid #ccc;;
}

.dataTables_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0; 
    margin-left: 0; 
    margin-right: 0; 
    font-size: 13px;
    border: none;
}

.dataTables_wrapper table.dataTable thead > tr > th {
    padding-left: 5px;
    padding-right: 5px;
}

.nowrap{
    white-space: nowrap;
}

/* On/Off FlipSwitch */

/* Custom */

.onoffswitch {
    top: 24px;
}

.onoffswitch-switch {
    width: 34px !important;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    font-family: "Roboto" !important;
    font-weight: 600 !important;
}

/* Generated */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #CCC; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Final";
    padding-left: 13px;
    background-color: #5CB85C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Draft";
    padding-right: 13px;
    background-color: #F2F2F2; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #CCC; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* CBP Horizontal Menu */

/* general ul style */
.cbp-hrmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
    color: #fff;
    background: #5cb85c;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    display: none;
    position: absolute;
    background: #f9f9f9;
    width: 100%;
    left: 0;

    border: 15px solid transparent;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border-top: none;
}

.cbp-hropen .cbp-hrsub {
    display: block;
    z-index: 1;
}

.cbp-hrmenu .cbp-hrsub-inner{
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    color: #666;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
    line-height: 2em;
}

.cbp-hrsub h4 {
    color: #afdefa;
    padding: 2em 0 0.6em;
    margin: 0;
    font-size: 160%;
    font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

    .cbp-hrmenu {
        font-size: 80%;
    }

}

@media screen and (max-width: 43em) { 

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

    .cbp-hrmenu > ul,
    .cbp-hrmenu .cbp-hrsub-inner {
        width: 100%;
        padding: 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu > ul > li {
        display: block;
        border-bottom: 4px solid #5cb85c;
    }

    .cbp-hrmenu > ul > li > a { 
        display: block;
        padding: 1em 3em;
    }

    .cbp-hrmenu .cbp-hrsub { 
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

}

@media screen and (max-width: 36em) { 
    .cbp-hrmenu .cbp-hrsub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}

.cbp-hrmenu .cbp-hrsub .badge{
    color: #f9f9f9;
    background-color: #5cb85c;
    margin: 0 3px;
}

.cbp-hrmenu .cbp-hrsub .radio{
    display: block;
}


/* Tags input */

div.tagsinput {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f9f9f9;
    padding: 7px 7px 3px 7px;
    overflow-y: auto;
}

div.tagsinput span.tag {
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    color: #666;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
}

div.tagsinput span.tag.singular-filter{
    background-color: #fff;
    border: 1px solid #eee;
    margin-right: 5px;
    padding: 4px 5px;
}

div.tagsinput span.tag a {
    font-weight: bold;
    color: #82ad2b;
    text-decoration: none;
    font-size: 11px;
}

div.tagsinput input {
    width: 80px;
    margin: 0px;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 5px;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.tagsinput div {
    display: block;
    float: left;
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}

.not_valid {
    background: #FBD8DB !important;
    color: #90111A !important;
}

.organization-information{
    font-size: 80%;
    margin-top: -5px;
    margin-bottom: 0px;
}

label.label-disabled{
    color: #ddd;
}

#my-costs-filters select.input-xs{
    margin: 0 5px;
}

.btn.btn-default.btn-border-green {
    border: 1px solid #5cb85c;
}

.collection .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #f9f9f9;
}

span.pencil-editable {
    color: #ececec;
    cursor: pointer;
}

span.pencil-editable:hover {
    color: #47a447;
    /*color: #f85c37;*/
}

.hover {
    color: #47a447 !important;
    /*color: #f85c37; !important*/
}

.label.label-similarity{
    font-size: 13px;
}

.label.label-similarity.super-similarity{
    background-color: #1B7C1B;
}

.label.label-similarity.very-high-similarity{
    background-color: #369836;
}

.label.label-similarity.high-similarity{
    background-color: #5CB85C;
}

.alert.alert-warning .btn.pull-right{
    margin-left: 5px;
}

.table-peers tbody>tr:nth-child(odd){ 
    background-color: #f9f9f9;
}

.table-peers{
    border-bottom: 2px solid #ddd;
}

.collection-tab-content{
  border: 1px solid #ddd;
  border-top: 0;
  padding: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.interval-tab-content{
    padding: 40px 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.interval-tab-content .interval-tab-row{
    padding-right: 30px;
    padding-left: 30px;
}

.form-row{
    margin-top: 12px;
    margin-bottom: 12px;
}

.margin-top-bottom-none{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.interval-tabs .collection-year-tabs{
    display: inline-block;
    margin-bottom: -6px;
}
