.collection {
    margin-bottom: 15px;
    color: #333; 
}

.collection:first-child {
    margin-top: 50px;
}

.collection:last-child {
    margin-bottom: 70px;
}

.collection .index {
    position: absolute; 
    margin: -13px 0 0 -170px;
    width: 150px;
    text-align: right;
    font-size: 1.5em;
    color: #ccc; 
    font-weight: bold;
}

.organization {
    padding: 15px 0; 
    background-color: #5cb85c; 
    color: #fff; 
}

.organization h1{
    font-weight: 600;
    color: #fff; 
}

.organization p, .organization dd{
    font-weight: 400;
    color: #fff; 
}

.organization a{
    color: #168B24; 
}

.organization a:hover{
    color: #000; 
}

.summary {
/*    background-color: #74cfae;
    padding: 15px 0 5px; 
    color: #333; */

    background-color: #f2f2f2;
    padding: 15px 0 5px; 
    color: #333; 
    margin-bottom: -40px;
}

.summary h2 {
    color: #333; 
}

.interval-tab-content{
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.form-group.interval-tabs{
    margin-top: 40px;
    margin-bottom: 0px;
}

.form-group.interval-tabs .nav-tabs{
    border: none;
}

.duration-slider .slider.slider-horizontal{
    width: 150px;
}

.utils .btn-border{
    padding-top: 14px;
    padding-bottom: 14px; 
    border: 1px solid #ccc;
}

.close-tab{
    margin-left: 7px;
    color: #ddd;
    cursor: pointer;
}

.close-tab:hover{
    color: #f85c37;
}

.collections-empty{
    margin: 40px 0; 
    color: #999; 
    font-size: 2em;
}

.dl-horizontal dt.dt-large{
    width: 350px;
    margin-right: 10px;
}

.description-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.btn.btn-block {
    padding-left: 0px;
    padding-right: 0px;
}

.see-all-filters{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.see-all-filters:hover{
    background-color: #f5f5f5;
}

.other-filters{
    margin-top: -5px;
}

.tooltip-button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.popover{
    font-weight: 200;
    font-size: 13px
}

.editable-buttons .btn{
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.editable-buttons .btn-default{
    border-color: #ccc;
}

.editable-container .popover-content {
    padding: 10px 25px;
}

.table-legend.dl-horizontal dt{
    width: 60px;
}

.table-legend.dl-horizontal dd{
    margin-left: 80px;
}

.admin-container{
    margin: 0 40px;
}

.table-font-small{
    font-size: 13px;
}

#tableCosts_wrapper .DTTT.btn-group{
    float: right;
}

#tableCosts_wrapper .dataTables_filter{
    padding-right: 25px;
}

#tableCosts_wrapper .DTTT.btn-group .btn{
    padding: 6px 12px;
    border: 1px solid #ccc;;
}

#tableCosts_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0; 
    margin-left: 0; 
    margin-right: 0; 
    font-size: 13px;
    border: none;
}

#tableCosts_wrapper table.dataTable thead > tr > th {
    padding-left: 5px;
    padding-right: 5px;
}

.nowrap{
    white-space: nowrap;
}

/* On/Off FlipSwitch */

/* Custom */

.onoffswitch {
    top: 24px;
}

.onoffswitch-switch {
    width: 34px !important;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    font-family: "Raleway" !important;
    font-weight: 600 !important;
    padding-top: 1px !important;
}

/* Generated */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #C0C0C0; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Final";
    padding-left: 13px;
    background-color: #5CB85C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Draft";
    padding-right: 13px;
    background-color: #F2F2F2; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #C0C0C0; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
