.collection {
    margin-bottom: 15px;
    color: #333; 
}

.collection:first-child {
    margin-top: 50px;
}

.collection:last-child {
    margin-bottom: 70px;
}

.collection .index {
    position: absolute; 
    margin: -13px 0 0 -170px;
    width: 150px;
    text-align: right;
    font-size: 1.5em;
    color: #ccc; 
    font-weight: bold;
}

.organization {
    padding: 15px 0; 
    background-color: #5cb85c; 
    color: #fff; 
}

.organization h1{
    font-weight: 600;
    color: #fff; 
}

.organization p, .organization dd{
    font-weight: 400;
    color: #fff; 
}

.organization a{
    color: #168B24; 
}

.organization a:hover{
    color: #000; 
}

.summary {
/*    background-color: #74cfae;
    padding: 15px 0 5px; 
    color: #333; */

    background-color: #4e4e4e;
    padding: 15px 0 5px; 
    color: #fff; 
}

.summary h2 {
    color: #fff; 
}

.interval-tab-content{
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.form-group.interval-tabs{
    margin-top: 40px;
    margin-bottom: 0px;
}

.form-group.interval-tabs .nav-tabs{
    border: none;
}

.duration-slider .slider.slider-horizontal{
    width: 150px;
}

.utils .btn-border{
    border: 1px solid #ccc;
    padding: 14px 15px;
}

.collection-utils .btn-border{
    border: 1px solid #ccc;
}

.collection-utils .btn{
    padding: 10px 30px;
    margin-bottom: 0;
    font-size: 15px;
    border-radius: 0px;
    margin-top: 30px;
}

.close-tab{
    margin-left: 7px;
    color: #ddd;
    cursor: pointer;
}

.close-tab:hover{
    color: #f85c37;
}

.collections-empty{
    margin: 40px 0; 
    color: #999; 
    font-size: 2em;
}

.dl-horizontal dt.dt-large{
    width: 350px;
    margin-right: 10px;
}

.error-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.has-error .error-block {
    color: #a94442;
}
