/*  Slider */

.slider-selection {
	background: #515151;
}

.slider {
	margin-top: 7px;
}

.slider-feedback {
	position: relative;
	top: 5px;
	left: 10px;
}

/* Mockup Badge */

@-webkit-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@-moz-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@-o-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30%   { opacity: 0.3; }
}

.mockup-badge{
	display:table;	
	background:black;
	opacity:0.3;
	-webkit-animation: opacity_pulse 20s infinite;
	-moz-animation: opacity_pulse 20s infinite;
	-o-animation: opacity_pulse 20s infinite;
	animation-timing-function:ease-in-out;
	-webkit-animation-timing-function:ease-in-out;
	-moz-animation-timing-function:ease-in-out;
	-o-animation-timing-function:ease-in-out;
	animation: opacity_pulse 20s infinite;
	width:200px;
	margin:20px;
	height:200px;
	border-radius:100px;
	text-align:center;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1000;
}
.mockup-badge .inner{
	display:table-cell;
	color:white;
	vertical-align:middle;
	height:40px;
}

.mockup-badge .inner h2{
	font-family: 'Raleway'; 
	border-bottom:1px solid #fff;
	display:inline-block;
	margin:0;
	font-size:40px;
	font-weight:bold;
	color: white;
	line-height: 70px;
}
.mockup-badge .inner p {
	font-family: 'Lato'; 
	margin:10px auto; 
	font-size:18px; 
	letter-spacing:2px; 
	font-weight:300;
}

#ccex-navbar ul{
	width: 100%;
}

.navbar-nav>li input {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;

	border: none;
	background: none;
	outline-color: #fff;
}

.navbar-nav>li input {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-default .navbar-nav>li input {
	color: #777;
}

ul.dropdown-menu.width-auto{
  width: auto !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #5cb85c;

}

#green {
	background-color: #5cb85c;
}

#green h1, #green h2, #green h3, #green h4, #green h5, #green h6 {
	color: white;
	font-weight: 600;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: auto;
}

.carousel-control.left {
	background: none;
}

.carousel-control.right {
	background: none;
}

.carousel-control {
	color: #333;
	opacity: 1;
}

.carousel-control:hover, .carousel-control:focus {
	color: #333;
	opacity: 0.8;	    	
}

.carousel-caption {
	color: #333;
	text-align: left;
	padding: 0 400px 0 340px;
	text-shadow: none;
}

.input-xs {
    height: 22px;
    padding: 1px 1px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.navbar {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

#skills.footer {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFF;
}

#skills.footer a {
    color: #fff;
}

#skills.footer a:hover {
    color: #fff;
    text-decoration: underline !important;
}

div.polaroid {
    float: left;
    padding: 1px;
    background-color: white;
    box-shadow: 2px 2px 3px #000000;
    margin: 5px;
}

.footer-logos{
    width: 500px;
    font-size: 11px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0; 
  background-color: white;
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

