/*  Slider */

.slider-selection {
    background: #515151;
}

.slider {
    margin-top: 7px;
}

.slider-feedback {
    position: relative;
    top: 5px;
    left: 10px;
}

/* Mockup Badge */

@-webkit-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@-moz-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@-o-keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30% { opacity: 0.3; }
}
@keyframes opacity_pulse {
  10%   { opacity: 0.3; }
  20%   { opacity: 1; }
  30%   { opacity: 0.3; }
}

.mockup-badge{
    display:table;  
    background:black;
    opacity:0.3;
    -webkit-animation: opacity_pulse 20s infinite;
    -moz-animation: opacity_pulse 20s infinite;
    -o-animation: opacity_pulse 20s infinite;
    animation-timing-function:ease-in-out;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -o-animation-timing-function:ease-in-out;
    animation: opacity_pulse 20s infinite;
    width:200px;
    margin:20px;
    height:200px;
    border-radius:100px;
    text-align:center;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
}
.mockup-badge .inner{
    display:table-cell;
    color:white;
    vertical-align:middle;
    height:40px;
}

.mockup-badge .inner h2{
    font-family: 'Raleway'; 
    border-bottom:1px solid #fff;
    display:inline-block;
    margin:0;
    font-size:40px;
    font-weight:bold;
    color: white;
    line-height: 70px;
}
.mockup-badge .inner p {
    font-family: 'Lato'; 
    margin:10px auto; 
    font-size:18px; 
    letter-spacing:2px; 
    font-weight:300;
}

/* Navigation bar */

#ccex-navbar ul{
    width: 100%;
}

.navbar-nav>li input {
    padding: 10px;
    line-height: 20px;

    border: none;
    background: none;
    outline-color: #fff;
}

.navbar-default .navbar-nav>li input {
    color: #777;
}

ul.dropdown-menu.width-auto{
  width: auto !important;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {*/
.navbar-default .navbar-nav > .active, .navbar-default .navbar-nav > .active:hover, .navbar-default .navbar-nav > .active:focus {
    background-color: #5cb85c;
}

.navbar-collapse {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar {
    font-size: 13px;
}

.nav>li>a {
    padding: 10px 10px;
}

#green {
    background-color: #5cb85c;
}

#green h1, #green h2, #green h3, #green h4, #green h5, #green h6 {
    color: white;
    font-weight: 600;
}

.input-xs {
    height: 20px;
    padding: 1px 1px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.navbar {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

#skills.footer {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFF;
}

#skills.footer a {
    color: #fff;
}

#skills.footer a:hover {
    color: #fff;
    text-decoration: underline !important;
}

div.polaroid {
    float: left;
    padding: 1px;
    background-color: white;
    box-shadow: 1px 1px 1px #000000;
    margin: 5px;
}

.footer-logos{
    width: 500px;
    font-size: 11px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0; 
  background-color: white;
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

/* Collapsable table rows */
tr.collapse.in {
  display: table-row;
}
tr.collapsing {
   -webkit-transition: none;
    transition: none;
}
tr.accordion-toggle {
  cursor: pointer;
  position: relative;
  
}
tr.accordion-toggle.collapsed {
  border-bottom: 5px solid #ccc;
}
.accordion-toggle-handler::after {
    content: "\2191";
    color: #bbb;
}
tr.accordion-toggle.collapsed .accordion-toggle-handler::after {
    content: "\2193";
}

tr.accordion-body {
  background-color: #eee;
}

/* Testimonies Carousel */

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    margin: auto;
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.carousel-control {
    color: #999;
    opacity: 1;
    /* lfaria removing controls for now as they are on top of logos */
    /* display: none; */
  
    width: 5%;
}

.carousel-control:hover, .carousel-control:focus {
    color: #999;
    opacity: 0.8;           
}

.carousel-indicators {
  bottom: -45px;
}

.carousel-indicators li {
    border-color: #ccc;
}

.carousel-indicators .active {
    background-color: #ccc;
}

/* Icons Hover */

.icon {
    width: 128px;
}

.icon:hover {
    border: 5px solid #ddd;
    border-radius: 100px;
    padding: 5px;
    width: 148px;
    margin: -10px 0;
}

/* Komento */

#section-kmt .kmt-form-editor > div {
  padding: 0 0 0 0 !important;
}

#section-kmt + div {
  display: none !important;
}

#section-kmt .kmt-form-author ul li.kmt-form-website > div {
  margin: 0 0 0 0 !important;
}

/* Bootstrap 3.0 theme for Chosen */

select.form-control + .chzn-container.chzn-container-single .chzn-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chzn-container.chzn-container-single .chzn-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chzn-container .chzn-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chzn-container .chzn-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chzn-container .chzn-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
 
select.form-control + .chzn-container .chzn-results li , 
select.form-control + .chzn-container .chzn-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chzn-container .chzn-results li:hover, 
select.form-control + .chzn-container .chzn-results li.active-result:hover,
select.form-control + .chzn-container .chzn-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chzn-container-multi .chzn-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chzn-container-multi .chzn-choices li.search-choice {
 
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
 
select.form-control + .chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chzn-container-multi.chzn-container-active .chzn-choices,
select.form-control + .chzn-container.chzn-container-single.chzn-container-active .chzn-single,
select.form-control + .chzn-container .chzn-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chzn-container-multi .chzn-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

.utils .btn-border{
    padding-top: 14px;
    padding-bottom: 14px; 
    border: 1px solid #ccc;
}

.nav-name-ellipsis{
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar{
    border: none !important;
}

.navbar-collapse{
    border: 1px solid #e7e7e7 !important;
}

/* Beta ribbon */
.ccex_beta_ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top right corner */
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg cw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ccex_beta_ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: 'Lato';
  font-weight: 900;
  margin: 1px 0;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

/* Survey */

.bfsurvey_plusIntro p {
  line-height: inherit;
}

.bfsurvey_plusOptions textarea {
  width: 100%;
}

#survey .button {
  margin-bottom: 5px;
}

/* Survey link */
#beta_survey_link {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 150px;
    background-color: #ccc;
    border-top: 2px solid #d9d9d9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 32px;
    padding: 0 10px;
    line-height: 26px;
    border-radius: 3px 3px 0 0;
    color: black;
    transition: background-color 0.2s ease-in-out;
    text-shadow: none;
    z-index: 2147483636;

}
#beta_survey_link:hover {
    background-color: #bfbfbf;
    border-top: 2px solid #ccc;
    height: 33px;
}

#beta_survey_link span:before {
    font-family: FontAwesome;
    content: "\f059";
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.btn.btn-xs{
  padding: 3px 20px;
  font-size: 12px;
  border-radius: 0px;
  border: none;
}

.alert.alert-warning .btn{
  border: 1px solid #faebcc;
}

/* Wizard Style Navigation Tabs for Bootstrap */

.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child, .nav-pills.nav-wizard > li.last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a, .nav-pills.nav-wizard > li.last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #ddd;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #ddd #ddd #ddd transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #ddd;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428bca;
}

/* Custom */

.nav-pills.nav-wizard a {
    -webkit-transition: none;
    moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    color: #555;
    font-weight: 400;
}

.nav-pills.nav-wizard li {
    width: 24.5%;
}

.nav-pills.nav-wizard.nav>li>a {
    padding: 9px 10px;
}

.nav-pills.nav-wizard > li .nav-arrow {
    border-width: 20px 0 20px 20px;
}

.nav-pills.nav-wizard > li .nav-wedge {
    border-width: 20px 0 20px 20px;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #5cb85c;
}

.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #5cb85c #5cb85c #5cb85c transparent;
}

.nav-pills.nav-wizard > li.active a {
  background-color: #5cb85c;
}

.nav-pills.nav-wizard>li.active>a, .nav-pills.nav-wizard>li.active>a:hover, .nav-pills.nav-wizard>li.active>a:focus {
    background-color: #5cb85c;
}

.wizard-label .icon-status{
    float: right;
    padding-top: 5px;
    margin-right: -10px;
    color: #5cb85c;
}

.wizard-label:last-child .icon-status, .wizard-label .last-child .icon-status{
    margin-right: 5px;
}

.wizard-label-lock .icon-status {
    color: #ccc;
}

.nav-pills.nav-wizard > li.active .icon-status {
    color: #fff;
}

.nav-pills.nav-wizard  a.wizard-label-lock, .nav-pills.nav-wizard  a.wizard-label-lock:hover {
    color: #999;
}

.nav-pills.nav-wizard > li.wizard-li-lock:hover a {
    background-color: #eee;
}

.nav-pills.nav-wizard > li.wizard-li-lock:hover .nav-wedge {
    border-color: #eee #eee #eee transparent;
}

.nav-pills.nav-wizard > li.wizard-li-lock:hover .nav-arrow {
    border-color: transparent transparent transparent #eee;
}

.nav-pills.nav-wizard > li.active:hover .nav-arrow {
    border-color: transparent transparent transparent #5cb85c;
}

.nav-pills.nav-wizard > li .wizard-number {
    border-radius: 100px;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1000px) {
  span.wizard-number {
    display: none;
  }

  i.icon-status {
    display: none;
  }

  .nav-pills.nav-wizard.nav>li>a {
    padding: 11.5px 0;
    font-size: 12px;
    text-align: center;
  }
}

.label.label-draft {
    background-color: #eee;
    color: #666;
}
